
.nav ul{
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
}
.nav ul li{
    list-style: none;
    padding: 20px;
    text-decoration: none;
   
}